In [110]:
import pandas as pd 
roster = pd.read_csv("roster.csv", skiprows=2, usecols=[0])
roster = roster["Name"].iloc[:-1].to_list()
roster = [x.split(", ")[1] + " " + x.split(", ")[0] for x in roster if len(x.split(", ")) >1]
groups = pd.read_csv("groups.csv", index_col=0).iloc[:-1]
dct = dict(zip(["William Matheson", "Luis Tejo Torres", "Sam Conway "], ["Will Matheson", "Luis Trejo Torres", "Sam Conway"]))
lst = []
def mapping(x) :
    if x in dct.keys():
        return dct[x]
    else:
        return x

for col in groups.columns:
    groups[col] = groups[col].map(mapping)
    lst = lst + groups[col].dropna().to_list()

In [111]:
roster.remove("William Ostdiek")
roster.append("Will Ostdiek")
roster.remove("Christopher Pham")
roster.append("Chris Pham")
roster.remove("Paula Gonzalez Gago")
roster.append("Paula Gonzalez")
roster.remove("Jose VÃ¡zquez Velarde")
roster.append("Jose Vazquez")
roster.remove("Joshua Walker")
roster.append("Josh Walker")
[x for x in roster if x not in lst]

['Connor Barr',
 'Lydia Brantley',
 'Alejandro Gonzalez Sanchez',
 'Filipe Reis',
 'Kyle Zarosky']

In [112]:
groups.index = [x.split()[-1] if x != "John McClure Jr" else "McClure" for x in groups["Member 1"]]
groups.index.name = "Group Name"
group_names = groups.index.to_list()
group_names

['Flores',
 'Ghosh',
 'Searose-Xu',
 'Fields',
 'Lhamo',
 'Wu',
 'McClure',
 'Towner',
 'Moursy',
 'Civelek',
 'Ladas']

In [113]:
rooms1 = pd.read_csv("rooms.csv", nrows=12)
rooms2 = pd.read_csv("rooms.csv", skiprows=14, nrows=12)
rooms = pd.concat([rooms1, rooms2], axis=1)
rooms = rooms.drop(columns=["27-Mar"])

In [114]:
dct = {key: rooms[key].to_list() for key in rooms.columns}
for key in dct.keys():
    if "406" in dct[key]:
        dct[key].remove("406")
    else:
        dct[key].remove("400")

import random
for key in dct.keys():
    random.shuffle(dct[key])

In [115]:
dates = [
    "20-Mar",
    "25-Mar",
    "1-Apr",
    "10-Apr",
    "17-Apr",
]
dct = {key: dct[key] for key in dates}
df = pd.DataFrame(dct)
df.index = group_names
df.index.name = "Group Name"
df

           20-Mar 25-Mar 1-Apr 10-Apr 17-Apr
Group Name
Flores        409   313C   400   313F   313D
Ghosh         408    407  313C   213F   213F
Searose-Xu   313E    400  213F    407   313C
Fields       313B   313A   409   313D    409
Lhamo         410   313E  313D   313B    407
Wu           213F    409  313F   313E   313B
McClure       407   313F   407   313C    408
Towner       313A   313D   408    410   313A
Moursy       313D   213F  313A    409    410
Civelek       400    408  313B    408   313F
Ladas        313F   313B  313E   313A   313E

In [116]:
df.to_csv("breakout_schedule.csv")

## Local installation

- install python from python.org IMPORTANT: check add to path on first screen 
- install vs code
- install vs code extensions: python, jupyter, data wrangler, github copilot
- terminal: pip install numpy pandas statsmodels scipy matplotlib seaborn jupyter scikit-learn pandas-datareader yfinance==0.2.54
- open notebook and execute np.sqrt

## Github, github-copilot, and cursor

- github account
- activate copilot
- demonstration of copilot chat and code completion
- create cursor account and install cursor
- install cursor extensions 
- demo CTRL-K, CTRL-L and code completion

## Streamlit 

- install git CLI 
- create github repo with readme 
- vs code terminal: git clone 
- ask Julius to create streamlit app 
- download to local folder
- git add, commit, push
- streamlit run app.py
- deploy to streamlit cloud

## Docker

- install docker desktop
-