In [2]:
import pandas as pd 
from sqlalchemy import create_engine
server = 'rice-sqlcl-db'
database = 'SharadarEquity'
username = 'stocks'
password = '6LAZH1'
string = f"mssql+pymssql://{username}:{password}@{server}/{database}"
conn = create_engine(string).connect()

In [3]:
df.date.unique()

array([datetime.date(2025, 3, 21)], dtype=object)

In [3]:
import pandas as pd 
df = pd.read_sql("select * from information_schema.tables", conn)

In [4]:
df

    TABLE_CATALOG TABLE_SCHEMA    TABLE_NAME  TABLE_TYPE
0  SharadarEquity          dbo         today  BASE TABLE
1  SharadarEquity          dbo           ghz  BASE TABLE
2  SharadarEquity          dbo   definitions  BASE TABLE
3  SharadarEquity          dbo       tickers  BASE TABLE
4  SharadarEquity          dbo        prices  BASE TABLE
5  SharadarEquity          dbo  fundamentals  BASE TABLE
6  SharadarEquity          dbo       metrics  BASE TABLE

In [26]:
for col in df.columns: print(col)

ticker
siccode
name
sicsector
sicindustry
famasector
famaindustry
sector
industry
scalemarketcap
scalerevenue
dimension
fiscalperiod
calendardate
datekey
reportperiod
lastupdated
accoci
assets
assetsavg
assetsc
assetsnc
assetturnover
bvps
capex
cashneq
cashnequsd
cor
consolinc
currentratio
de
debt
debtc
debtnc
debtusd
deferredrev
depamor
deposits
divyield
dps
ebit
ebitda
ebitdamargin
ebitdausd
ebitusd
ebt
eps
epsdil
epsusd
equity
equityavg
equityusd
ev
evebit
evebitda
fcf
fcfps
fxusd
gp
grossmargin
intangibles
intexp
invcap
invcapavg
inventory
investments
investmentsc
investmentsnc
liabilities
liabilitiesc
liabilitiesnc
marketcap
ncf
ncfbus
ncfcommon
ncfdebt
ncfdiv
ncff
ncfi
ncfinv
ncfo
ncfx
netinc
netinccmn
netinccmnusd
netincdis
netincnci
netmargin
opex
opinc
payables
payoutratio
pb
pe
pe1
ppnenet
prefdivis
price
ps
ps1
receivables
retearn
revenue
revenueusd
rnd
roa
roe
roic
ros
sbcomp
sgna
sharefactor
sharesbas
shareswa
shareswadil
sps
tangibles
taxassets
taxexp
taxliabilities
tbvps
workingcapital

In [30]:
pd.read_sql("select * from definitions where 1=2", conn)

Empty DataFrame
Columns: [tbl, indicator, isfilter, isprimarykey, title, description, unittype]
Index: []

In [33]:
indicators = pd.read_sql("select * from definitions where tbl='SF1'", conn)
for row in indicators.index: print(indicators[["indicator", "description"]].loc[row])

indicator                                                revenue
description    [Income Statement] The amount of Revenue recog...
Name: 0, dtype: object
indicator                                                    cor
description    [Income Statement] The aggregate cost of goods...
Name: 1, dtype: object
indicator                                                   sgna
description    [Income Statement] A component of [OpEx] repre...
Name: 2, dtype: object
indicator                                                    rnd
description    [Income Statement] A component of [OpEx] repre...
Name: 3, dtype: object
indicator                                                   opex
description    [Income Statement] Operating expenses represen...
Name: 4, dtype: object
indicator                                                 intexp
description    [Income Statement] Amount of the cost of borro...
Name: 5, dtype: object
indicator                                                 taxexp
description    [Income Statement] Amount of current income ta...
Name: 6, dtype: object
indicator                                              netincdis
description    [Income Statement] Amount of loss (income) fro...
Name: 7, dtype: object
indicator                                              consolinc
description    [Income Statement] The portion of profit or lo...
Name: 8, dtype: object
indicator                                              netincnci
description    [Income Statement] The portion of income which...
Name: 9, dtype: object
indicator                                                 netinc
description    [Income Statement] The portion of profit or lo...
Name: 10, dtype: object
indicator                                              prefdivis
description    [Income Statement] Income statement item refle...
Name: 11, dtype: object
indicator                                              netinccmn
description    [Income Statement] The amount of net income (l...
Name: 12, dtype: object
indicator                                                    eps
description    [Income Statement] Earnings per share as calcu...
Name: 13, dtype: object
indicator                                                 epsdil
description    [Income Statement] Earnings per diluted share ...
Name: 14, dtype: object
indicator                                               shareswa
description    [Income Statement] The weighted average number...
Name: 15, dtype: object
indicator                                            shareswadil
description    [Income Statement] The weighted average number...
Name: 16, dtype: object
indicator                                                  capex
description    [Cash Flow Statement] A component of [NCFI] re...
Name: 17, dtype: object
indicator                                                  fcfps
description    [Metrics] Free Cash Flow per Share is a valuat...
Name: 18, dtype: object
indicator                                                ncfdebt
description    [Cash Flow Statement] A component of [NCFF] re...
Name: 19, dtype: object
indicator                                                 ncfdiv
description    [Cash Flow Statement] A component of [NCFF] re...
Name: 20, dtype: object
indicator                                                   ncfo
description    [Cash Flow Statement] A component of [NCF] rep...
Name: 21, dtype: object
indicator                                                    ncf
description    [Cash Flow Statement] Principal component of t...
Name: 22, dtype: object
indicator                                                 ncfbus
description    [Cash Flow Statement] A component of [NCFI] re...
Name: 23, dtype: object
indicator                                                 ncfinv
description    [Cash Flow Statement] A component of [NCFI] re...
Name: 24, dtype: object
indicator                                                   ncff
description    [Cash Flow Statement] A component of [NCF] rep...
Name: 25, dtype: object
indicator                                              ncfcommon
description    [Cash Flow Statement] A component of [NCFF] re...
Name: 26, dtype: object
indicator                                                   ncfi
description    [Cash Flow Statement] A component of [NCF] rep...
Name: 27, dtype: object
indicator                                                   ncfx
description    [Cash Flow Statement] A component of Net Cash ...
Name: 28, dtype: object
indicator                                                 sbcomp
description    [Cash Flow Statement] A component of [NCFO] re...
Name: 29, dtype: object
indicator                                                depamor
description    [Cash Flow Statement] A component of operating...
Name: 30, dtype: object
indicator                                                 assets
description    [Balance Sheet] Sum of the carrying amounts as...
Name: 31, dtype: object
indicator                                                cashneq
description    [Balance Sheet] A component of [Assets] repres...
Name: 32, dtype: object
indicator                                            investments
description    [Balance Sheet] A component of [Assets] repres...
Name: 33, dtype: object
indicator                                           investmentsc
description    [Balance Sheet] The current portion of [Invest...
Name: 34, dtype: object
indicator                                          investmentsnc
description    [Balance Sheet] The non-current portion of [In...
Name: 35, dtype: object
indicator                                            deferredrev
description    [Balance Sheet] A component of [Liabilities] r...
Name: 36, dtype: object
indicator                                               deposits
description    [Balance Sheet] A component of [Liabilities] r...
Name: 37, dtype: object
indicator                                                   bvps
description    [Metrics] Measures the ratio between [Equity] ...
Name: 38, dtype: object
indicator                                                debtusd
description    [Balance Sheet] [Debt] in USD; converted by [F...
Name: 39, dtype: object
indicator                                                ebitusd
description    [Income Statement] [EBIT] in USD; converted by...
Name: 40, dtype: object
indicator                                             ebitdausd
description    [Metrics] [EBITDA] in USD; converted by [FXUSD].
Name: 41, dtype: object
indicator                                              sharesbas
description    [Entity] The number of shares or other units o...
Name: 42, dtype: object
indicator                                                    dps
description    [Income Statement] Aggregate dividends declare...
Name: 43, dtype: object
indicator                                                ppnenet
description    [Balance Sheet] A component of [Assets] repres...
Name: 44, dtype: object
indicator                                              inventory
description    [Balance Sheet] A component of [Assets] repres...
Name: 45, dtype: object
indicator                                              taxassets
description    [Balance Sheet] A component of [Assets] repres...
Name: 46, dtype: object
indicator                                            receivables
description    [Balance Sheet] A component of [Assets] repres...
Name: 47, dtype: object
indicator                                               payables
description    [Balance Sheet] A component of [Liabilities] r...
Name: 48, dtype: object
indicator                                            intangibles
description    [Balance Sheet] A component of [Assets] repres...
Name: 49, dtype: object
indicator                                            liabilities
description    [Balance Sheet] Sum of the carrying amounts as...
Name: 50, dtype: object
indicator                                                 equity
description    [Balance Sheet] A principal component of the b...
Name: 51, dtype: object
indicator                                                retearn
description    [Balance Sheet] A component of [Equity] repres...
Name: 52, dtype: object
indicator                                                 accoci
description    [Balance Sheet] A component of [Equity] repres...
Name: 53, dtype: object
indicator                                                assetsc
description    [Balance Sheet] The current portion of [Assets...
Name: 54, dtype: object
indicator                                               assetsnc
description    [Balance Sheet] Amount of non-current assets; ...
Name: 55, dtype: object
indicator                                           liabilitiesc
description    [Balance Sheet] The current portion of [Liabil...
Name: 56, dtype: object
indicator                                          liabilitiesnc
description    [Balance Sheet] The non-current portion of [Li...
Name: 57, dtype: object
indicator                                         taxliabilities
description    [Balance Sheet] A component of [Liabilities] r...
Name: 58, dtype: object
indicator                                                   debt
description    [Balance Sheet] A component of [Liabilities] r...
Name: 59, dtype: object
indicator                                                  debtc
description    [Balance Sheet] The current portion of [Debt];...
Name: 60, dtype: object
indicator                                                 debtnc
description    [Balance Sheet] The non-current portion of [De...
Name: 61, dtype: object
indicator                                                    ebt
description    [Metrics] Earnings Before Tax is calculated by...
Name: 62, dtype: object
indicator                                                   ebit
description    [Income Statement] Earnings Before Interest an...
Name: 63, dtype: object
indicator                                                 ebitda
description    [Metrics] EBITDA is a non-GAAP accounting metr...
Name: 64, dtype: object
indicator                                                  fxusd
description    [Metrics] The exchange rate used for the conve...
Name: 65, dtype: object
indicator                                              equityusd
description    [Balance Sheet] [Equity] in USD; converted by ...
Name: 66, dtype: object
indicator                                                 epsusd
description    [Income Statement] [EPS] in USD; converted by ...
Name: 67, dtype: object
indicator                                             revenueusd
description    [Income Statement] [Revenue] in USD; converted...
Name: 68, dtype: object
indicator                                           netinccmnusd
description    [Income Statement] [NetIncCmn] in USD; convert...
Name: 69, dtype: object
indicator                                             cashnequsd
description    [Balance Sheet] [CashnEq] in USD; converted by...
Name: 70, dtype: object
indicator                                            sharefactor
description    [Entity] Share factor is a multiplicand in the...
Name: 71, dtype: object
indicator                                              marketcap
description    [Metrics] Represents the product of [SharesBas...
Name: 72, dtype: object
indicator                                                     ev
description    [Metrics] Enterprise value is a measure of the...
Name: 73, dtype: object
indicator                                                 invcap
description    [Metrics] Invested capital is an input into th...
Name: 74, dtype: object
indicator                                              equityavg
description    [Metrics] Average equity value for the period ...
Name: 75, dtype: object
indicator                                              assetsavg
description    [Metrics] Average asset value for the period u...
Name: 76, dtype: object
indicator                                              invcapavg
description    [Metrics] Average invested capital value for t...
Name: 77, dtype: object
indicator                                              tangibles
description    [Metrics] The value of tangibles assets calcul...
Name: 78, dtype: object
indicator                                                    roe
description    [Metrics] Return on equity measures a corporat...
Name: 79, dtype: object
indicator                                                    roa
description    [Metrics] Return on assets measures how profit...
Name: 80, dtype: object
indicator                                                    fcf
description    [Metrics] Free Cash Flow is a measure of finan...
Name: 81, dtype: object
indicator                                                   roic
description    [Metrics] Return on Invested Capital is a rati...
Name: 82, dtype: object
indicator                                                     gp
description    [Income Statement] Aggregate revenue [Revenue]...
Name: 83, dtype: object
indicator                                                  opinc
description    [Income Statement] Operating income is a measu...
Name: 84, dtype: object
indicator                                            grossmargin
description    [Metrics] Gross Margin measures the ratio betw...
Name: 85, dtype: object
indicator                                              netmargin
description    [Metrics] Measures the ratio between a company...
Name: 86, dtype: object
indicator                                           ebitdamargin
description    [Metrics] Measures the ratio between a company...
Name: 87, dtype: object
indicator                                                    ros
description    [Metrics] Return on Sales is a ratio to evalua...
Name: 88, dtype: object
indicator                                          assetturnover
description    [Metrics] Asset turnover is a measure of a fir...
Name: 89, dtype: object
indicator                                            payoutratio
description    [Metrics] The percentage of earnings paid as d...
Name: 90, dtype: object
indicator                                               evebitda
description    [Metrics] Measures the ratio between [EV] and ...
Name: 91, dtype: object
indicator                                                 evebit
description    [Metrics] Measures the ratio between [EV] and ...
Name: 92, dtype: object
indicator                                                     pe
description    [Metrics] Measures the ratio between [MarketCa...
Name: 93, dtype: object
indicator                                                    pe1
description    [Metrics] An alternative to [PE] representing ...
Name: 94, dtype: object
indicator                                                    sps
description    [Metrics] Sales per Share measures the ratio b...
Name: 95, dtype: object
indicator                                                    ps1
description    [Metrics] An alternative calculation method to...
Name: 96, dtype: object
indicator                                                     ps
description    [Metrics] Measures the ratio between [MarketCa...
Name: 97, dtype: object
indicator                                                     pb
description    [Metrics] Measures the ratio between [MarketCa...
Name: 98, dtype: object
indicator                                                     de
description    [Metrics] Measures the ratio between [Liabilit...
Name: 99, dtype: object
indicator                                               divyield
description    [Metrics] Dividend Yield measures the ratio be...
Name: 100, dtype: object
indicator                                           currentratio
description    [Metrics] The ratio between [AssetsC] and [Lia...
Name: 101, dtype: object
indicator                                         workingcapital
description    [Metrics] Working capital measures the differe...
Name: 102, dtype: object
indicator                                                  tbvps
description    [Metrics] Measures the ratio between [Tangible...
Name: 103, dtype: object
indicator                                                  price
description    [Entity] The price per common share adjusted f...
Name: 104, dtype: object
indicator                                                 ticker
description    [Entity] The ticker is a unique identifier for...
Name: 105, dtype: object
indicator                                              dimension
description    [Entity] The dimension field allows you to tak...
Name: 106, dtype: object
indicator                                                datekey
description    [Entity] The Date Key represents the SEC filin...
Name: 107, dtype: object
indicator                                           reportperiod
description    [Entity] The Report Period represents the end ...
Name: 108, dtype: object
indicator                                            lastupdated
description    [Entity] Last Updated represents the last date...
Name: 109, dtype: object
indicator                                           calendardate
description    [Entity] The Calendar Date represents the norm...
Name: 110, dtype: object
indicator                                           fiscalperiod
description    The fiscal period of the report expressed as f...
Name: 111, dtype: object

In [34]:
financials="eps fcfps roe roa grossmargin netmargin ebitdamargin ros assetturnover payoutratio evebitda evebit pe ps pb de divyield currentratio assets debt liabilities equity revenue".split()

In [40]:
df = pd.read_sql("select * from fundamentals where dimension='ARY' and reportperiod>='2024-01-01' and reportperiod<='2025-12-31'", conn)

In [41]:
df=df[["ticker","reportperiod"]+financials]

In [42]:
df2 = pd.read_sql("select * from tickers", conn)
df2 = df2[
    [
        "ticker", "name", 
        "sector", "industry", "scalemarketcap", "scalerevenue"
    ]
]

In [43]:

df = df2.merge(df, left_on="ticker", right_on="ticker", how="inner")

In [45]:
df=df.dropna()

In [46]:
df.head()

,ticker,name,sector,industry,scalemarketcap,scalerevenue,reportperiod,eps,fcfps,roe,...,ps,pb,de,divyield,currentratio,assets,debt,liabilities,equity,revenue
0,A,AGILENT TECHNOLOGIES INC,Healthcare,Diagnostics & Research,5 - Large,5 - Large,2024-10-31,4.44,4.734,0.213,...,5.901,6.513,1.008,0.007,2.089,1.184600e+10,3.390000e+09,5.948000e+09,5.898000e+09,6.510000e+09
1,AA,ALCOA CORP,Basic Materials,Aluminum,5 - Large,5 - Large,2024-12-31,0.26,0.162,0.013,...,0.811,1.870,1.727,0.011,1.447,1.406400e+10,2.545000e+09,8.907000e+09,5.157000e+09,1.189500e+10
4,AAL,AMERICAN AIRLINES GROUP INC,Industrials,Airlines,5 - Large,5 - Large,2024-12-31,1.29,2.972,-0.177,...,0.194,-2.646,-16.535,0.000,0.541,6.178300e+10,3.754400e+10,6.576000e+10,-3.977000e+09,5.421100e+10
8,AAOI,APPLIED OPTOELECTRONICS INC,Technology,Communication Equipment,3 - Small,3 - Small,2024-12-31,-4.50,-2.882,-0.907,...,4.353,4.737,1.388,0.000,1.771,5.470320e+08,1.908600e+08,3.179200e+08,2.291120e+08,2.493650e+08
9,AAON,AAON INC,Basic Materials,Building Products & Equipment,4 - Mid,3 - Small,2024-12-31,2.07,-0.038,0.214,...,5.345,7.782,0.425,0.004,2.791,1.175234e+09,1.548910e+08,3.506520e+08,8.245820e+08,1.200635e+09

In [ ]:
df.to_excel("financials.xlsx")

In [12]:
df1[df1.indicator.isin(["datekey", "calendardate", "reportperiod"])]

,tbl,indicator,isfilter,isprimarykey,title,description,unittype
107,SF1,datekey,N,Y,Date Key,[Entity] The Date Key represents the SEC filin...,date (YYYY-MM-DD)
108,SF1,reportperiod,N,Y,Report Period,[Entity] The Report Period represents the end ...,date (YYYY-MM-DD)
110,SF1,calendardate,Y,N,Calendar Date,[Entity] The Calendar Date represents the norm...,date (YYYY-MM-DD)
139,SF3,calendardate,Y,Y,Calendar Date,The calendar date field represents the last da...,date (YYYY-MM-DD)
143,SF3A,calendardate,Y,Y,Calendar Date,The calendar date field represents the last da...,date (YYYY-MM-DD)
172,SF3B,calendardate,Y,Y,Calendar Date,The calendar date field represents the last da...,date (YYYY-MM-DD)